html {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  background-size: contain;
  background-image: -webkit-gradient(radial, center center, 0, center center, 212, from(#9e9e9e), to(#ffffff));
  background-image: -webkit-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: -moz-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: -o-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: -ms-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: radial-gradient(center center, cover, #9e9e9e, #ffffff);
}
.hide {
  display: none;
}
#wrapping {
  position: absolute;
  top: 50%;
  left: 50%;
}
#imgPlace {
  width: 100%;
  height: 100%;
}
#headerBar {
  position: absolute;
  width: 100%;
  height: 8%;
  top: 0;
  opacity: 0.8;
  box-shadow: inset 0 0 15px 1px#0f0;
}
#footerBar {
  position: absolute;
  width: 100%;
  height: 8%;
  bottom: 0;
  opacity: 0.8;
}
.buttonPlace {
  text-align: center;
}
.buttonPlace a {
  text-decoration: none;
}
