html {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  background-size: contain;
  background-image: -webkit-gradient(radial, center center, 0, center center, 212, from(#9e9e9e), to(#ffffff));
  background-image: -webkit-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: -moz-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: -o-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: -ms-radial-gradient(center center, cover, #9e9e9e, #ffffff);
  background-image: radial-gradient(center center, cover, #9e9e9e, #ffffff);
}
.hide {
  display: none;
}
.mirror {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: 'FlipV';
  opacity: 0.1;
  float: left;
  overflow: hidden;
}
#wrapping {
  position: absolute;
  top: 50%;
  left: 50%;
}
#imgPlace {
  width: 100%;
  height: 100%;
}
#headerBar {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
#headerBar .img_logo {
  width: 10%;
  margin-right: -6%;
}
#headerBar .fRight {
  float: right;
}
#headerBar a {
  display: inline-block;
  width: 4%;
  margin: 0 2%;
}
#headerBar a img {
  width: 100%;
}
#headerBar.footer_left {
  width: 93%;
  right: 0;
  background: rgba(0, 0, 0, 0);
}
#footerBar {
  text-align: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#footerBar a {
  display: inline-block;
  width: 4%;
  margin: 0 2%;
}
#footerBar a img {
  width: 100%;
}
#footerBar.footer_left {
  position: absolute;
  display: table;
  height: 100%;
  width: 7%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
#footerBar.footer_left a {
  display: table-row;
}
#footerBar.footer_left a img {
  width: 100%;
  margin-top: 50%;
}
.buttonPlace {
  text-align: center;
}
.buttonPlace a {
  text-decoration: none;
}
