html {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
}
.hide {
  display: none;
}
#wrapping {
  position: absolute;
  top: 50%;
  left: 50%;
}
#imgPlace {
  width: 100%;
  height: 100%;
}
#headerBar {
  position: absolute;
  width: 100%;
  height: 8%;
  top: 0;
  opacity: 0.8;
}
#footerBar {
  position: absolute;
  width: 100%;
  height: 8%;
  bottom: 0;
  opacity: 0.8;
}
